USE [master]
GO
/****** Object:  Database [DataWarehouseTest]    Script Date: 11/21/2024 7:37:18 PM ******/
CREATE DATABASE [DataWarehouseTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataWarehouseTest', FILENAME = N'D:\descargas\MSSQL16.SQLEXPRESS\MSSQL\DATA\DataWarehouseTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataWarehouseTest_log', FILENAME = N'D:\descargas\MSSQL16.SQLEXPRESS\MSSQL\DATA\DataWarehouseTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataWarehouseTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataWarehouseTest]
GO
/****** Object:  Table [dbo].[FactClientesAtendidos]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactClientesAtendidos](
	[ClienteID] [int] NULL,
	[ClienteNombre] [varchar](100) NULL,
	[Fecha] [date] NULL,
	[TotalVentas] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomers]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomers](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[ContactName] [varchar](100) NULL,
	[Country] [varchar](50) NULL,
	[City] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_FactVentas]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_FactVentas] AS
SELECT 
    fc.ClienteID,   -- Verifica que esta columna exista
    fc.Fecha,       -- Verifica que esta columna exista
    fc.TotalVentas  -- Verifica que esta columna exista
FROM FactClientesAtendidos fc
JOIN DimCustomers dc ON fc.ClienteID = dc.CustomerID;  -- Ajusta el JOIN si es necesario
GO
/****** Object:  Table [dbo].[DimEmployee]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmployee](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [varchar](100) NULL,
	[Title] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_FactClientesAtendidos]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_FactClientesAtendidos] AS
SELECT 
    fc.ClienteID,            -- Correspondiente a ID Cliente
    fc.ClienteNombre,        -- Nombre del Cliente
    fc.Fecha,                -- Fecha de la visita
    fc.TotalVentas,          -- Total de ventas
    c.CustomerName,          -- Nombre del cliente de DimCustomers
    c.Country,               -- País del cliente
    c.City,                  -- Ciudad del cliente
    e.EmployeeID,            -- ID del empleado
    e.EmployeeName,          -- Nombre del empleado
    e.Title,                 -- Título del empleado
    e.Department             -- Departamento del empleado
FROM 
    FactClientesAtendidos fc
LEFT JOIN 
    DimCustomers c ON fc.ClienteID = c.CustomerID   -- Relación entre ClienteID y CustomerID
LEFT JOIN 
    DimEmployee e ON fc.ClienteID = e.EmployeeID     -- Relación entre ClienteID y EmployeeID
GO
/****** Object:  Table [dbo].[DimCategory]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCategory](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[ContactName] [varchar](100) NULL,
	[Country] [varchar](50) NULL,
	[City] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimEmploye]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEmploye](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[TitleOfCourtesy] [nvarchar](255) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](255) NULL,
	[HomePhone] [nvarchar](25) NULL,
	[Extension] [nvarchar](10) NULL,
	[Photo] [varbinary](max) NULL,
	[Notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[CategoryID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShippers]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShippers](
	[ShipperID] [int] NOT NULL,
	[ShipperName] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[EmployeeName] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[TitleOfCourtesy] [nvarchar](255) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](255) NULL,
	[HomePhone] [nvarchar](25) NULL,
	[Extension] [nvarchar](10) NULL,
	[Photo] [varbinary](max) NULL,
	[Notes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactVentas]    Script Date: 11/21/2024 7:37:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactVentas](
	[SaleID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[SaleDate] [date] NULL,
	[TotalSales]  AS ([Quantity]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimProduct]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[DimCategory] ([CategoryID])
GO
USE [master]
GO
